# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

APIApp/*
.classpath
.project
.settings/
target/
football-api-impl/target/
SwaggerCodegenExtension/modules/swagger-codegen/target/
SwaggerCodegenExtension/modules/swagger-codegen-cli/target/
SwaggerCodegenExtension/modules/swagger-codegen-maven-plugin/target/
SwaggerCodegenExtension/modules/swagger-generator/target/
SwaggerParser/modules/swagger-compat-spec-parser/target/
SwaggerParser/modules/swagger-parser/target/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
