springfox.documentation.swagger.v2.path=/api-docs
server.contextPath={{^contextPath}}/{{/contextPath}}{{#contextPath}}{{contextPath}}{{/contextPath}}
config.location=./api-config_{{title}}.json
server.allowed.origins=*
#server.port=8090
#ssl.enabled=false
#ssl.keystore=server.jks
#ssl.keystore.pass=localhost
#ssl.keystore.alias=apimockserver
#ssl.scheme=https
#ssl.port=8443