{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "Football Results Analyser",
        "description": "An API for the Football Results Analyser",
        "contact": {
            "name": "Mark Fowler",
            "email": "themindbadger@gmail.com",
            "url": "http://yettobedecided"
        }
    },
    "host": "api.fra.mindbadger",
    "basePath": "/v1",
    "schemes": [
        "http"
    ],
    "paths": {
        "/seasons": {
            "get": {
                "tags": [
                    "Seasons", "get"
                ],
                "description": "Returns all seasons (no paging)",
                "operationId": "findSeasons",
                "produces": [
                    "application/vnd.api+json"
                ],
                "responses": {
                    "200": {
                        "description": "List of seasons",
                        "schema": {
                            "$ref": "#/definitions/seasonListResponse"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Seasons", "post"
                ],
                "description": "Creates a new season.",
                "operationId": "addSeason",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "season",
                        "in": "body",
                        "description": "Season to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/season"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful object creation. Returns the location of the Season object.",
                        "headers": {
                            "Location": {
                                "type": "string",
								"format": "URL"
							}
                        },
                        "schema": {
                            "$ref": "#/definitions/fullSeasonResponse"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
        "/seasons/{seasonNumber}": {
            "get": {
                "tags": [
                    "Seasons", "get"
                ],
                "description": "Returns a season",
                "operationId": "findSeasonById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "seasonNumber",
                        "in": "path",
                        "description": "ID of season to fetch",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "season response",
                        "schema": {
                            "$ref": "#/definitions/fullSeasonResponse"
                        }
                    },
                    "404": {
                        "description": "Season not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        }
    },
		
    "definitions": {
		"season": {
			"type": "object",
			"required": ["type"],
			"properties": {
				"type": {
					"type": "string",
					"enum": ["season"]
				},
				"id": {
					"type": "string"
				},
				"relationships": {
					"properties": {
						"divisions": {
							"type": "object",
							"properties": {
								"links": {
									"type": "object",
									"properties": {
										"self": {
											"type": "string",
											"format":"url",
											"x-path":"/seasons/{seasonId}/relationships/divisions"
										},
										"related": {
											"$ref": "#/definitions/jsonApiRelatedCollection"
										}
									}
								},
								"data": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/jsonApiResourceIdentifier"
									}
								}
							}
						}
					}
				},
				"links": {
					"type": "object",
					"properties": {
						"self": {
							"type": "string",
							"format":"url",
							"x-path":"/seasons/{seasonId}"
						}
					}
				}
			}
		},
		"divisionInSeason": {
			"type": "object",
			"required": ["type"],
			"properties": {
				"type": {
					"type": "string",
					"enum": ["divisionInSeason"]
				},
				"id": {
					"description": "The composite id of {season}-{divisionId}",
					"type": "string"
				},
				"attributes": {
					"properties": {
						"position": {
							"description": "Position of this division in the season",
							"type": "integer"
						}
					}
				},
				"relationships": {
					"properties": {
						"division": {
							"type": "object",
							"properties": {
								"links": {
									"type": "object",
									"properties": {
										"related": {
											"$ref": "#/definitions/jsonApiRelatedCollection"
										}
									}
								},
								"data": {
									"$ref": "#/definitions/jsonApiResourceIdentifier"
								}
							}
						},
						"teams": {
							"type": "object",
							"properties": {
								"links": {
									"type": "object",
									"properties": {
										"self": {
											"type": "string",
											"format":"url",
											"x-path":"/seasons/{seasonId}/divisions/{divisionId}/relationships/teams"
										},
										"related": {
											"$ref": "#/definitions/jsonApiRelatedCollection"
										}
									}
								},
								"data": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/jsonApiResourceIdentifier"
									}
								}
							}
						}
					}

				},
				"links": {
					"type": "object",
					"properties": {
						"self": {
							"type": "string",
							"format":"url",
							"x-path":"/seasons/{seasonId}/divisions/{divisionId}"
						}
					}
				}
			}
		},
		"teamInDivision": {
			"type": "object",
			"required": ["type"],
			"properties": {
				"type": {
					"type": "string",
					"enum": ["teamInDivision"]
				},
				"id": {
					"description": "The composite id of {season}-{divisionId}-{teamId}",
					"type": "string"
				},
				"relationships": {
					"properties": {
						"team": {
							"type": "object",
							"properties": {
								"links": {
									"type": "object",
									"properties": {
										"related": {
											"$ref": "#/definitions/jsonApiRelatedCollection"
										}
									}
								},
								"data": {
									"$ref": "#/definitions/jsonApiResourceIdentifier"
								}
							}
						}
					}
				},
				"links": {
					"type": "object",
					"properties": {
						"self": {
							"type": "string",
							"format":"url",
							"x-path":"/seasons/{seasonId}/divisions/{divisionId}"
						}
					}
				}
			}
		},
		"division": {
			"type": "object",
			"required": ["type"],
			"properties": {
				"type": {
					"type": "string",
					"enum": ["division"]
				},
				"id": {
					"description": "The {divisionId}",
					"type": "string"
				},
				"attributes": {
					"properties": {
						"name": {
							"description": "The division name",
							"type": "string"
						}
					}
				},
				"links": {
					"type": "object",
					"properties": {
						"self": {
							"type": "string",
							"format":"url",
							"x-path":"/divisions/{divisionId}"
						}
					}
				}
			}
		},
		"team": {
			"type": "object",
			"required": ["type"],
			"properties": {
				"type": {
					"type": "string",
					"enum": ["team"]
				},
				"id": {
					"description": "The {teamId}",
					"type": "string"
				},
				"attributes": {
					"properties": {
						"name": {
							"description": "The team name",
							"type": "string"
						}
					}
				},
				"links": {
					"type": "object",
					"properties": {
						"self": {
							"type": "string",
							"format":"url",
							"x-path":"/teams/{teamId}"
						}
					}
				}
			}
		},
		"fixture": {
			"type": "object",
			"required": ["type"],
			"properties": {
				"type": {
					"type": "string",
					"enum": ["fixture"]
				},
				"id": {
					"type": "string"
				},
				"attributes": {
					"properties": {
						"fixtureDate": {
							"description": "goals scored by the home team",
							"type": "string",
							"format": "date"
						},
						"homeGoals": {
							"description": "goals scored by the home team",
							"type": "integer",
							"format": "int32"
						},
						"awayGoals": {
							"description": "goals scored by the away team",
							"type": "integer",
							"format": "int32"
						}
					}
				},
				"relationships": {
					"properties": {
						"division": {
							"type": "object",
							"properties": {
								"links": {
									"type": "object",
									"properties": {
										"related": {
											"$ref": "#/definitions/jsonApiRelatedCollection"
										}
									}
								},
								"data": {
									"$ref": "#/definitions/jsonApiResourceIdentifier"
								}
							}
						},
						"homeTeam": {
							"type": "object",
							"properties": {
								"links": {
									"type": "object",
									"properties": {
										"related": {
											"$ref": "#/definitions/jsonApiRelatedCollection"
										}
									}
								},
								"data": {
									"$ref": "#/definitions/jsonApiResourceIdentifier"
								}
							}
						},
						"awayTeam": {
							"type": "object",
							"properties": {
								"links": {
									"type": "object",
									"properties": {
										"related": {
											"$ref": "#/definitions/jsonApiRelatedCollection"
										}
									}
								},
								"data": {
									"$ref": "#/definitions/jsonApiResourceIdentifier"
								}
							}
						}
					}
				},
				"links": {
					"type": "object",
					"properties": {
						"self": {
							"type": "string",
							"format":"url",
							"x-path":"/fixtures/{fixtureId}"
						}
					}
				}
			}
		},		
		"fullSeasonResponse": {
			"type": "object",
			"properties": {
				"data": {
					"$ref": "#/definitions/season"
				},
				"included": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/divisionInSeason"
					}
				},
				"links": {
					"properties": {
						"self": {
							"type": "string",
							"format":"url",
							"x-path":"/baskets/{brand}/{basket_id}"
						}
					}
				}
			}
		},
		"seasonListResponse": {
			"type": "object",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/season"
					}
				}
			}
		},
        "jsonApiRelatedCollection": {
			"type": "object",
			"properties": {
				"href": {
  					"type": "string",
  					"format": "URL",
  					"description": "Link to retrieve the related collection"
  				},
				"meta": {
					"type": "object",
					"properties": {
						"count": {
						"type": "integer",
						"description": "The number of resources in the collection"
						}
					}
				}
			}
        },
        "jsonApiResourceIdentifier": {
			"type": "object",
			"required": ["type", "id"],
			"properties": {
				"type": {
  					"type": "string"
  				},
  				"id": {
  					"type": "string"
  				}
			}
        },
		"errors": {
			"type": "array",
			"items": {
				"properties": {
					"id": {
						"type": "string",
						"description": "A unique identifier for this particular occurrence of the problem"
					},
					"links": {
						"type": "object",
						"description": "Further details about this particular occurrence of the problem",
						"properties": {
							"about": {
								"type": "string",
								"format": "URL"
							}
						}
					},
					"status": {
						"type": "string",
						"description": "The HTTP status code applicable to this problem"
					},
					"code": {
						"type": "string",
						"description": "An application-specific error code"
					},
					"title": {
						"type": "string",
						"description": "A short, human-readable summary of the problem"
					},
					"detail": {
						"type": "string",
						"description": "A human-readable explanation specific to this occurrence of the problem"
					},
					"source": {
						"type": "object",
						"description": "References to the source of the error, e.g. an RFC6901 JSON pointer or a URI query parameter name",
						"properties": {
							"reference": {
								"type": "string"
							}
						}
					},
					"meta": {
						"type": "object",
						"properties": {
							"metaData": {
								"type": "string"
							}
						}
					}
				}
			}
		}
	}
}
