{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "Football Results Analyser",
        "description": "An API for the Football Results Analyser",
        "contact": {
            "name": "Mark Fowler",
            "email": "themindbadger@gmail.com",
            "url": "http://yettobedecided"
        }
    },
    "host": "api.fra.mindbadger",
    "basePath": "/v1",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/vnd.api+json"
    ],
    "produces": [
        "application/vnd.api+json"
    ],
    "paths": {
        "/seasons": {
            "get": {
                "tags": [
                    "Seasons", "get"
                ],
                "description": "Returns all seasons (no paging)",
                "operationId": "findSeasons",
                "produces": [
                    "application/vnd.api+json"
                ],
                "responses": {
                    "200": {
                        "description": "List of seasons",
                        "schema": {
                            "$ref": "#/definitions/seasonList"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Seasons", "post"
                ],
                "description": "Creates a new season.",
                "operationId": "addSeason",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "season",
                        "in": "body",
                        "description": "Season to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/minimalSeason"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful object creation. Returns the location of the Season object.",
                        "headers": {
                            "Location": {
                                "type": "string",
								"format": "URL"
							}
                        },
                        "schema": {
                            "$ref": "#/definitions/minimalSeason"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
        "/seasons/{seasonNumber}": {
            "get": {
                "tags": [
                    "Seasons", "get"
                ],
                "description": "Returns a season",
                "operationId": "findSeasonById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "seasonNumber",
                        "in": "path",
                        "description": "ID of season to fetch",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "season response",
                        "schema": {
                            "$ref": "#/definitions/season"
                        }
                    },
                    "404": {
                        "description": "Season not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        
        
        
        
        
        
        
        "minimalSeason": {
            "type": "object",
            "required": [
                "seasonNumber"
            ],
            "properties": {
                "seasonNumber": {
                    "type": "integer",
                    "format": "int64"
                },
                "href": {
                    "type": "string",
                    "format": "URL"
                }
            }
        },
        
        "seasonList": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/minimalSeason"
                    }
                }
            }
        },
        
        "season": {
            "type": "object",
            "required": [
                "seasonNumber"
            ],
            "properties": {
                "seasonNumber": {
                    "type": "integer",
                    "format": "int64"
                },
                "href": {
                    "type": "string",
                    "format": "URL"
                },
                "divisions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/divisionInSeason"
                    }
                }
            }
        },
        
        "divisionInSeason": {
            "type": "object",
            "required": [
                "divisionId"
            ],
            "properties": {
                "divisionId": {
                    "type": "string"
                },
                "position": {
                    "type": "integer"
                },
                "divisionName": {
                    "type": "string"
                },
                "href": {
                    "type": "string",
                    "format": "URL"
                },
                "teams": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/teamsInDivision"
                    }
                }
            }
        },
        
        "teamsInDivision": {
            "type": "object",
            "required": [
                "teamId"
            ],
            "properties": {
                "teamId": {
                    "type": "string"
                },
                "teamName": {
                    "type": "string"
                },
                "href": {
                    "type": "string",
                    "format": "URL"
                }
            }
        },
        
        "errors": {
			"type": "array",
			"items": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "A unique identifier for this particular occurrence of the problem"
                    },
                    "links": {
                        "type": "object",
						"description": "Further details about this particular occurrence of the problem",
						"properties": {
							"about": {
								"type": "string",
								"format": "URL"
							}
						}
                    },
                    "status": {
                        "type": "string",
                        "description": "The HTTP status code applicable to this problem"
                    },
                    "code": {
                        "type": "string",
                        "description": "An application-specific error code"
                    },
                    "title": {
                        "type": "string",
                        "description": "A short, human-readable summary of the problem"
                    },
                    "detail": {
                        "type": "string",
                        "description": "A human-readable explanation specific to this occurrence of the problem"
                    },
                    "source": {
                        "type": "object",
						"description": "References to the source of the error, e.g. an RFC6901 JSON pointer or a URI query parameter name"
                    },
                    "meta": {
                        "type": "object"
                    }
                }
			}
		}
    }
}